<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="customer_group" appConnect="local" -->
<meta name="ac:route" content="/admin/customer_group">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Customer Group</h2>
        </div>
    </div>
</div>
<!-- New Wappler Page -->