<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="product_detail" appConnect="local" -->
<meta name="ac:route" content="/admin/product_detail">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Product Detail</h2>
        </div>
    </div>
</div>
<!-- New Wappler Page -->