<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="products" appConnect="local" -->
<meta name="ac:route" content="/admin/products">
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h2>Products</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>สินค้าแนะนำ</h5>
        </div>
    </div>
</div>