<!doctype html>
<html>

<head>
    <base href="/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Diy Retrofit - Admin</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
    <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
    <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
    <script src="/dmxAppConnect/dmxCharts/Chart.min.js" defer=""></script>
    <script src="/dmxAppConnect/dmxCharts/dmxCharts.js" defer=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous" />
</head>

<body is="dmx-app" id="admin">
    <dmx-notifications id="notifies"></dmx-notifications>
    <div class="offcanvas offcanvas-start" id="offcanvas1" is="dmx-bs5-offcanvas" tabindex="-1">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                <div class="col-xxl-12 col-12">
                    <ul class="nav flex-column mb-sm-auto mb-0 align-items-start align-items-sm-start nav-pills" id="menu">
                        <li>
                            <a href="#subMain" data-bs-toggle="collapse" class="nav-link px-0 align-middle" internal><i class="fas fa-chevron-circle-down"></i>&nbsp;เมนูจัดการร้าน</a>
                            <ul class="collapse nav flex-column ms-1" id="subMain" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/" class="nav-link px-0" internal>หน้าหลัก</a>
                                    <a href="admin/product_detail" class="nav-link px-0" internal>รายการขาย</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#subProducts" data-bs-toggle="collapse" class="nav-link px-0 align-middle" internal><i class="fas fa-chevron-circle-down"></i>&nbsp;การบริหารสินค้า</a>
                            <ul class="collapse nav flex-column ms-1" id="subProducts" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/products" class="nav-link px-0" internal>สินค้า</a>
                                    <a href="admin/product_detail" class="nav-link px-0" internal>หมวดหมู่สินค้า</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#subCustomers" data-bs-toggle="collapse" class="nav-link px-0 align-middle "><i class="fas fa-chevron-circle-down"></i>&nbsp;การบริหารลูกค้า</a>
                            <ul class="collapse nav flex-column ms-1" id="subCustomers" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/customers" class="nav-link px-0" internal>ลูกค้า</a>
                                    <a href="admin/customer_group" class="nav-link px-0" internal>กลุ่มลูกค้า</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#subExpenses" data-bs-toggle="collapse" class="nav-link px-0 align-middle"><i class="fas fa-chevron-circle-down"></i>&nbsp;การบริหารค่าใช้จ่าย</a>
                            <ul class="collapse nav flex-column ms-1" id="subExpenses" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/expenses" class="nav-link px-0" internal>รายจ่าย</a>
                                    <a href="admin/expense_group" class="nav-link px-0" internal>รูปแบบรายจ่าย</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#subAdmins" data-bs-toggle="collapse" class="nav-link px-0 align-middle"><i class="fas fa-chevron-circle-down"></i>&nbsp;การบริหารพนักงาน</a>
                            <ul class="collapse nav flex-column ms-1" id="subAdmins" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/users" class="nav-link px-0" internal>พนักงาน</a>
                                    <a href="#" class="nav-link px-0">แผนก</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#subReports" data-bs-toggle="collapse" class="nav-link px-0 align-middle"><i class="fas fa-chevron-circle-down"></i>&nbsp;รายงาน</a>
                            <ul class="collapse nav flex-column ms-1" id="subReports" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/report_expense_01" class="nav-link px-0" internal>รายจ่าย</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>

                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand">

                        <div class="navbar-nav flex-column">

                            <a class="nav-item nav-link" href="/admin/categories" internal>Categories</a>
                            <a class="nav-item nav-link" href="/admin/recipes" internal>Recipes</a>
                            <a class="nav-item nav-link" href="/admin/comments" internal>Comments</a>



                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-between">
                        <button id="btnShowOC" class="btn pt-0 pb-0 ps-0 pe-0" dmx-on:click="offcanvas1.show()"><i class="fas fa-align-left fa-lg"></i><br></button>

                        <h1 class="h4 mt-1 mb-1 text-secondary">Diy Retrofit Co.,Ltd.</h1>
                        <button id="btnLogout" class="btn">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div is="dmx-view" id="content">
            <%- await include(content, locals); %>
        </div>
    </main>

    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>