<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="contact" appConnect="local" -->
<meta name="ac:route" content="/contact">
<div class="container">
    <header>
        <h1>Contact</h1>
    </header>
</div>