<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="contact" appConnect="local" components="{dmxGoogleMaps:{}}" -->
<meta name="ac:route" content="/contact">
<div class="container">
    <header>
        <h1>Contact</h1>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>Fancy display heading</h5>
                    <p>A nice paragraph<br>A nice paragraph<br>A nice paragraph<br>A nice paragraph</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>ติดต่อเรา</h5>
                    <p>ลกค้าสามารถติดต่อเราผ่านช่องทางต่อไปนี้<br>- Line@ : @diyretrofit<br>- WeChat ID : diyretrofit<br>-&nbsp;</p>
                </div>
            </div>

        </div>
    </div>
</div>