<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container">

    <div class="row">
        <div class="col">

            <h1>Welcome {{scUserLoggedin.data.query.firstname}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="/assets/images/IMG_11031.jpg" class="img-fluid" loading="lazy">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>LED Projector Lens</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>LED Headlamp Bulb</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Xenon Projector Lens</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Xenon Headlamp Bulb</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Headlamp Cover Shell</h3>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">