:root {
    --offcanvas-width: 250px;
    --topNavbarHeight: 40px;
}
.offcanvas {
    width: var(--offcanvas-width);
}
@media (min-width: 992px) {
    main {
        margin-left: var(--offcanvas-width);
    }
    .offcanvas {
        -webkit-transform: none;
                transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    .offcanvas-header .btn-close {
        visibility: hidden;
    }
    #btnShowOC {
        visibility: hidden;  
    }
}